.container-cads {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .cards{
        display: flex;
        gap: 10rem;
        justify-content: center;
        align-items: center;

        .card{
            display: flex;
            gap: 2rem;
            align-items: center;
            padding: 1rem;
            border: 2px solid #b0b2b49e;
            background-color: white;
            border-radius: 10px;

            .icon{
                background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                padding: 9px;
                border-radius: 10px;
                margin-left: 1rem;
                color: white;
            }
            h1{
                font-size: 0.8rem;
                color: #a6a5a5;
                margin-bottom: 0.5rem;
                font-weight: 200;
            }

            h2{
                font-size: 1.5rem;
                color: #183758;
                margin-bottom: 1rem;
                font-weight: bold;
            }
        }
    }
}