.header-container {
    width: 19rem;
    background-color: #183758;
    position: fixed;

    .container-sessoes {

        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        gap: 1.5rem;
        

        .botoes {
            display: flex;
            align-items: center;
            justify-content: center;

            padding-top: 6px;
            margin-top:1rem ;
            height: 2.5rem;
            width: 17rem;

            background-color: #ed1818;
            font-size: 21px;
            border-radius: 10px;

            &:hover {
                background-color: #ed1818;
                color: #c3adb0;
            }
            

            a {
                text-decoration: none;
            }
        }
    }
}