

.container-tags{
  min-height: calc(100vh - 80px); 
text-align: center;

#pesquisar-hemo{
border-radius: 10px;
height: 1.5rem;
width: 40rem;

text-align: center;


}

#pesquisar-hemo:focus{
    outline: none;
}


}